<footer>
  <div id="doi-easter-egg">
    <img
      id="doi-countdown-initiator"
      src="/assets/images/sprites/seeing-eye.gif"
      alt="A mysterious seeing eye icon"
    />
    <img id="doi-gif" alt="I'm going to steal the Declaration" style="display: none" />
    <div id="countdown-display" style="display: none">
      <div id="doi-fact" class="doi-fact"></div>
    </div>
  </div>
  <p>
    <a href="mailto:bennett.1755@osu.edu"><i class="fas fa-envelope"></i> Email</a>
    |
    <a href="https://orcid.org/0000-0001-7309-4915" target="_blank"><i class="fab fa-orcid"></i> ORCID</a>
    |
    <a href="https://github.com/MurraySBennett" target="_blank"><i class="fab fa-github"></i> GitHub</a>
  </p>
  <p>&copy; <span class="current-year"></span> Murray S. Bennett</p>
</footer>
